.user-auth {
    width: 100%;
    padding: 15px 0;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #58249c;
}

.user-auth nav {
    margin: 0 auto;
    max-width: 1200px;
}

.user-auth ul {
    display: flex;
    margin: 0 auto; 
    padding: 0;   
    max-width: 1200px;
    align-items: center;
    list-style: none;
    color: #fff;
}

.user-auth .title {
    margin-right: auto;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

.user-auth button, .user-auth a {
    margin-left: 16px;
}

.user-auth a {
    color: #fff;
    text-decoration: none;
}

.user-auth .btn {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    margin-left: 40px;
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 4px;
}

.user-auth .btn:hover {
    background: #fff;
    color: #333;
}